@use "./var";

.header {
  margin-bottom: 20px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    align-items: center;
    column-gap: 15px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &--no-nav {
      grid-template-columns: repeat(2, auto);
    }

    @media (max-width: 1000px) {
      justify-content: space-evenly;
      grid-template-areas:
        "tahs lab"
        "nav nav";
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
    }
    @media (max-width: 650px) {
      &--no-nav {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
        grid-template-areas: "tahs" "lab";
        justify-content: center;
        gap: 25px;

        & img {
          margin: 0 auto;
        }
      }
    }
  }
}

.nav {
  text-align: center;
  flex-basis: 50%;

  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  @media (max-width: 1000px) {
    grid-area: nav;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 850px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
    }
    @media (max-width: 350px) {
      gap: 5px;
    }
  }
  &__item {
    line-height: 1.5;
    font-size: clamp(12px, 1.8vw, 20px);
    font-weight: 500;
    @media (max-width: 850px) {
      height: 100%;
      font-size: clamp(12px, 2.8vw, 20px);
    }
  }
  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: var.$opacity 2px solid;
    outline-offset: 4px;
    border-radius: 5px;
    transition:
      color 0.3s ease-in,
      outline-color 0.3s ease-in;
    // &:hover {
    //   color: #ee4621;
    // }
    // &:focus-visible {
    //   outline-color: #ee4621;
    // }
  }
  &__img {
    max-width: unset;
    @media (max-width: 700px) {
      max-width: 100%;
    }
    @media (max-width: 350px) {
      max-width: 125px;
    }
  }
}
